* {
    margin: 0;
    padding: 0;
}

:root {
    --text-color: #757575;
    --blue-color: #2196F3;
}

body {
    font-family: 'Roboto';
    color: var(--text-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;

    letter-spacing: 0.03em;
}



.page-header {
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid #ECECEC;
}

.logo-link {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;

    letter-spacing: 0.03em;

    color: rgba(33, 150, 243, 1);
    text-decoration: none;
}

.logo-link>span {
    color: rgba(0, 0, 0, 1);
}

.logo-link:hover,
.logo-link:focus {
    text-decoration: underline;
    color: var(--blue-color);
}

ul,
a {
    text-decoration: none;
    list-style-type: none;
    color: #212121;
}

.nav-links {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;

    color: rgba(33, 33, 33, 1)
}


.studio-link {
    color: rgba(33, 150, 243, 1)
}

.nav-links a:hover,
.nav-links a:focus {
    text-decoration: underline;
    text-decoration-color: var(--blue-color);
    -webkit-text-decoration-color: var(--blue-color);
}

.adress {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
}

[href="tel:+380961111111"] {
    color: var(--text-color);
}

[href="mailto:info@devstudio.com"] {
    color: var(--blue-color);
}

.adress a:hover,
.adress a:focus {
    text-decoration: underline;
    text-decoration-color: var(--blue-color);
    -webkit-text-decoration-color: var(--blue-color);
}

.button-section {
    background: #2F303A;
}

h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #FFFFFF;
}

.order-button {
    background: var(--blue-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    letter-spacing: 0.06em;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    color: #FFFFFF;
    padding: 0;
    border: none;
    cursor: pointer;

}

.filter-button {
    background: #F5F4FA;
    border-radius: 4px;
    border-radius: 4px;
    letter-spacing: 0.06em;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    color: #212121;

    padding: 0;
    border: none;
    cursor: pointer;

}

.order-button:hover,
.order-button:focus {
    background-color: #188CE8;
}

h3 {
    width: 270px;
    height: 16px;
    left: 215px;
    top: 774px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #212121;
}

.specifics,
.occupation {
    background: rgba(255, 255, 255, 1)
}

.specifics p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;


    letter-spacing: 0.03em;

    color: var(--text-color);
}

h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.167;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
}

.team {
    background: rgba(245, 244, 250, 1)
}

h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.188;

    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
}

.team p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.188;


    letter-spacing: 0.03em;

    color: var(--text-color);
}

.team li {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

footer {
    background: #2F303A;
}

footer .logo-link>span {
    color: rgba(255, 255, 255, 1)
}

[href="http://maps.google.com/?q=м.Київ,пр-тЛесіУкраїнки,26"] {
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;

    letter-spacing: 0.03em;
}

.footer-mail,
.footer-phone {
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.projects li {
    border: 1px solid #EEEEEE;
}